OIL_QTL_tt_vcf.dat
OIL_QTL_ho_vcf.dat
OIL_QTL_pheno_bins.dat
OIL_QTL_ohe.dat
OIL_QTL_ohe_map.dat
OIL_QTL_tt_pheno.dat
OIL_QTL_ho_pheno.dat
.venv/*
.venv

*.npy
reports/*
reports
inputs.py
.pytest_cache
DataAnalysis
__pycache__ 
*.torch
*.npz
*.venv*

DataAnalysis/redteaming_answers_analysis/DogData_submissions_answers_scores/dogdata_problem2/data/allnodes_components2456_top200entropyCols_top4800edges_dog_chr15_intersect_canFam3_bed_with_Groups_v2 (1).csv
.DS_Store
